.contained,
.text,
.icon {
	text-transform: none;
	font-weight: inherit;
	border: none;
	cursor: pointer;
}

.contained,
.containedInverted {
	padding: 0.6rem 1.2rem;
	background-color: var(--color-gray-800);
	font-size: var(--font-size-s);
	color: var(--color-gray-100);
	font-family: inherit;
	border-radius: 0;
}

.contained:hover {
	background-color: var(--color-gray-600);
}

.containedInverted {
	text-transform: none;
	color: var(--color-gray-800);
	border: 2px solid var(--color-gray-800);
	background: none;
}

.containedInverted:hover {
	background-color: var(--color-gray-200);
}

.text {
	position: relative;
	padding: 0.6rem 1.2rem;
	background: none;
	color: var(--color-gray-800);
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-s);
	font-family: inherit;
}

.icon {
	font-size: inherit;
	color: inherit;
	background: none;
}
