.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 2rem;
}

@media (min-width: 992px) {
	.main {
		row-gap: 4rem;
	}
}

@media (min-width: 1200px) {
	.main {
		row-gap: 6rem;
	}
}
