.items {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	row-gap: 4rem;
}

.link {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
	text-decoration: none;
	color: inherit;
}

.titleContainer {
	margin: 0 auto;
}

.title {
	font-size: var(--font-size-l);
}

.swiperContainer {
	max-width: 100%;
	margin: 0 auto;
	z-index: 0;
}

@media (min-width: 632px) {
	.swiperContainer {
		max-width: 600px;
	}
}

.swiper {
	--swiper-navigation-color: var(--color-white);
	--swiper-theme-color: var(--color-white);
}

.image {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.wishlist,
.wishlistAdded {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
}

.wishlistAdded {
	-webkit-animation: shake-lr 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
	animation: shake-lr 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.detailsContainer {
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	background-color: var(--color-gray-300);
	margin: -2rem auto 0 auto;
	padding: 1rem;
}

.details {
	display: flex;
	justify-content: space-between;
}

.productCode {
	text-align: left;
}

.manageQuantity {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.manageQuantity button,
.manageQuantity p {
	font-size: var(--font-size-l);
	font-family: inherit;
	background: none;
	padding: 0.5rem 1rem;
	color: var(--color-gray-600);
}

.manageQuantity button {
	border: 2px solid var(--color-gray-600);
	font-weight: var(--font-weight-medium);
	cursor: pointer;
}

.manageQuantity p {
	border-top: 2px solid var(--color-gray-600);
	border-bottom: 2px solid var(--color-gray-600);
}

.price {
	font-size: var(--font-size-l);
}

.buttons {
	display: flex;
	justify-content: center;
	column-gap: 1rem;
}

.button {
	border: none;
	background-color: var(--color-gray-600);
	color: var(--color-gray-100);
	font-size: var(--font-size-s);
	font-weight: var(--font-weight-medium);
	font-family: inherit;
	padding: 0.75rem 1.5rem;
	cursor: pointer;
}

.recommendedItems {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	overflow: hidden;
	z-index: 0;
}

.recommendedItems .title {
	text-align: left;
	font-size: var(--font-size-m);
	font-weight: var(--font-weight-medium);
	margin-bottom: 2rem;
}

.recommendedItems .swiperContainer {
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	overflow: hidden;
}

@-webkit-keyframes shake-lr {
	0%,
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	10% {
		-webkit-transform: rotate(8deg);
		transform: rotate(8deg);
	}
	20%,
	40%,
	60% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
	30%,
	50%,
	70% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	80% {
		-webkit-transform: rotate(-8deg);
		transform: rotate(-8deg);
	}
	90% {
		-webkit-transform: rotate(8deg);
		transform: rotate(8deg);
	}
}
@keyframes shake-lr {
	0%,
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	10% {
		-webkit-transform: rotate(8deg);
		transform: rotate(8deg);
	}
	20%,
	40%,
	60% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
	30%,
	50%,
	70% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	80% {
		-webkit-transform: rotate(-8deg);
		transform: rotate(-8deg);
	}
	90% {
		-webkit-transform: rotate(8deg);
		transform: rotate(8deg);
	}
}
