.product {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 2rem;
}

.link {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
	text-decoration: none;
	color: inherit;
}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	row-gap: 2rem;
}

.title h5 {
	font-size: var(--font-size-l);
}

.container {
	max-width: 100%;
	z-index: 0;
}

@media (min-width: 632px) {
	.container {
		max-width: 600px;
	}
}

.swiper {
	--swiper-navigation-color: var(--color-white);
	--swiper-theme-color: var(--color-white);
}

.image {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.manage {
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	background-color: var(--color-gray-300);
	padding: 1rem;
}

.code {
	text-align: left;
}

.quantity {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.quantity button,
.quantity p {
	font-size: var(--font-size-l);
	font-family: inherit;
	background: none;
	padding: 0.5rem 1rem;
	color: var(--color-gray-600);
}

.quantity button {
	border: 2px solid  var(--color-gray-600);
	font-weight: var(--font-weight-medium);
	cursor: pointer;
}

.quantity p {
	border-top: 2px solid  var(--color-gray-600);
	border-bottom: 2px solid  var(--color-gray-600);
}

.price {
	font-size: var(--font-size-l);
}

.buttons {
	display: flex;
	justify-content: center;
	column-gap: 1rem;
}

.button {
	border: none;
	background-color: var(--color-gray-600);
	color: var(--color-gray-100);
	font-size: var(--font-size-s);
	font-weight: var(--font-weight-medium);
	font-family: inherit;
	padding: 0.75rem 1.5rem;
	cursor: pointer;
}

.button:first-child {
	background: none;
	border: 2px solid var(--color-gray-600);
	color: var(--color-gray-600);
}

.otherProducts h5 {
	font-size: var(--font-size-s);
	font-weight: var(--font-weight-normal);
}

@media (min-width: 992px) {
	.otherProducts h5 {
		font-size: var(--font-size-m);
	}
}
