.card {
	position: relative;
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	cursor: pointer;
}

.card:hover .image {
	filter: brightness(70%);
	-webkit-filter: brightness(70%);
}

.image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
}

.wishlist,
.wishlistAdded {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.wishlistAdded {
	-webkit-animation: shake-lr 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
	animation: shake-lr 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.title {
	text-align: center;
	font-weight: var(--font-weight-bold);
	font-size: inherit;
	font-family: inherit;
}

.price {
	text-align: right;
	font-size: var(--font-size-m);
	font-weight: inherit;
	font-family: inherit;
}

@-webkit-keyframes shake-lr {
	0%,
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	10% {
		-webkit-transform: rotate(8deg);
		transform: rotate(8deg);
	}
	20%,
	40%,
	60% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
	30%,
	50%,
	70% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	80% {
		-webkit-transform: rotate(-8deg);
		transform: rotate(-8deg);
	}
	90% {
		-webkit-transform: rotate(8deg);
		transform: rotate(8deg);
	}
}
@keyframes shake-lr {
	0%,
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	10% {
		-webkit-transform: rotate(8deg);
		transform: rotate(8deg);
	}
	20%,
	40%,
	60% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
	30%,
	50%,
	70% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	80% {
		-webkit-transform: rotate(-8deg);
		transform: rotate(-8deg);
	}
	90% {
		-webkit-transform: rotate(8deg);
		transform: rotate(8deg);
	}
}
