.footer {
	width: 100%;
	max-width: var(--max-width);
	display: flex;
	justify-content: flex-end;
	margin: var(--center-content);
	padding: 1rem;
}

.mark {
	display: flex;
	flex: 0 0 60%;
	justify-content: center;
	align-items: center;
	color: var(--color-gray-700);
	column-gap: 5px;
}

.links {
	display: flex;
	flex: 0 0 20%;
	justify-content: flex-end;
	align-items: center;
	column-gap: 5px;
}

.links a {
	text-decoration: none;
	color: inherit;
}

.links svg {
	font-size: 26px;
	color: var(--color-gray-700);
}
