.title {
	color: var(--color-gray-800);
	font-size: var(--font-size-m);
	text-align: center;
	margin-bottom: 1rem;
}

@media (min-width: 992px) {
	.title {
		font-size: var(--font-size-l);
	}
}

.emptyCartText {
	text-align: center;
	margin-bottom: 1rem;
}

@media (min-width: 992px) {
	.emptyCartText {
		font-size: var(--font-size-m);
	}
}
