.emptyCartText {
	text-align: center;
	margin-bottom: 1rem;
}

.total {
	width: 100%;
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 24px;
	text-align: left;
	margin: 0.5rem 0 2rem;
}

.totalTitle {
	font-weight: var(--font-weight-bold);
	grid-column: 3/3;
}

.totalPrice {
	grid-column: 3/3;
}
